body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#siyahEkran {
    background-color: #000;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 5;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Zilla Slab", serif;
}

#siyahEkran h1 {
    color: #fff;
}

#siyahEkran p {
    color: #fff;
    padding: 0 2rem;
    font-size: 1.1rem;
    margin-top: 0;
}

#kaleyeGiris {
    background: url("castle_bg.jpg"), linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#kapidakiNot {
    background: url("kapi_bg.jpg"), linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#kaleIci {
    background: url("kaleici_bg.jpg"), linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#kaaninOdasi {
    background: url("kaaninOda.jpg"), linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.yonlendirici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: url("parsomen.jpg");
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 361px;
    width: 469px;
    font-family: "Underdog", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.yonlendirici h2 {
    margin-bottom: 0;
}

.yonlendirici p {
    padding: 0 3rem;
}

.yonlendirici #yonlendiriciButon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 35px;
    border-radius: 50%;
    background-color: gold;
    font-size: 1.7rem;
    padding: .2rem .2rem 0;
    margin: 0;
    font-weight: 700;
    cursor: pointer;
}

.yonlendiriciButonIceri {
    animation: iceriGidisEfekti 1s ease-in-out forwards;
}

.yonlendiriciButonDisari {
    animation: disariCikisEfekti 1s ease-in-out forwards;
}

.ekranButonu {
    background-color: transparent;
    border: 1px solid #fff;
    font-family: "Underdog", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem .6rem;
    color: #fff;
    cursor: pointer;
}

.siyahEkranGir {
    animation: siyahEkranGir 3s forwards;
}

.siyahEkranCik {
    animation: siyahEkranCik 2s forwards;
}

.display-none {
    display: none !important;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
}

#kapidakiParsomen { 
    position: absolute;
    top: 70%;
    left: 48.5%;
    cursor: pointer;
    height: 40px;
    width: 35px;
}

#kaaninOdasiParsomen { 
    position: absolute;
    top: 83%;
    left: 17%;
    cursor: pointer;
    height: 80px;
    width: 75px;
}

#bioParsomen1 {
    position: absolute;
    top: 40%;
    left: 13%;
    cursor: pointer;
    height: 79px;
    width: 66px;
}

#bioParsomen2 {
    position: absolute;
    top: 40%;
    left: 22%;
    cursor: pointer;
    height: 79px;
    width: 66px;
}

#bioParsomen {
    background: url("parsomen.jpg");
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 561px;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Underdog", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#bioParsomen h2 {
    margin-bottom: 0;
}

#bioParsomen p {
    padding: 0 3.5rem;
}

#bioParsomenSon {
    background: url("parsomen.jpg");
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 561px;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Underdog", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#bioParsomenSon h2 {
    margin-bottom: 0;
}

#bioParsomenSon p {
    padding: 0 3.5rem;
}

#buyukParsomen {
    background: url("duvardakiParsomen.png");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 567px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Underdog", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#buyukParsomen p {
    padding: 0 3.2rem;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

#parsomenliOkuyucu {
    background: url("parsomen.jpg");
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 661px;
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Underdog", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#parsomenliOkuyucu .innerPart {
    height: 500px;
    width: 445px;
    overflow-y: scroll;
    padding-right: 10px;
    padding-left: 20px;
}

.innerPart::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: goldenrod;
}

.innerPart::-webkit-scrollbar
{
	width: 3px;
	background-color: golden;
}

.innerPart::-webkit-scrollbar-thumb
{
	background-color: #000000;
    border-radius: 5px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

#arrowleft {
    left: 30px;
}

#arrowright {
    right: 30px;
}

@keyframes iceriGidisEfekti {
    0% {
    }

    100% {
        transform: translate(100%, -50%);
    }
}

@keyframes disariCikisEfekti {
    0% {
        transform: translate(100%, -50%);
    }

    100% {
        transform: translate(0, -50%);
    }
}

@keyframes siyahEkranGir {
    0% {
        opacity: 0;
        z-index: 5;
    }

    100% {
        opacity: 1;
        z-index: 5;
    }
}

@keyframes siyahEkranCik {
    0% {
        opacity: 1;
        z-index: 5;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

